<p>
  <ion-button (click)="deviceInjector.updateListDevicesObservable(true)" expand="block"> Sort Ascending</ion-button>
  <ion-button (click)="deviceInjector.updateListDevicesObservable(false)" expand="block"> Sort Descending</ion-button>
  <ion-list *ngFor="let device of deviceInjector.listDevices$| async; let i = index">
     <ion-item-group>
    <ion-item>
      <ion-item-divider>
      <ion-label>ID: {{ device.id }}</ion-label>
    </ion-item-divider>
    </ion-item>
    <ion-item>
      <ion-label>Temperature : {{ device.information.temperature }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Voltage : {{ device.information.voltage }} Volts</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Status : {{ device.information.status }}</ion-label>
      <ion-toggle  [checked]="device.information.status" (click)="deviceInjector.turnOnOff(device.id, device.information)"></ion-toggle>
      <!-- <ion-toggle *ngIf="device.status" [checked]="device.status" (click)="deviceInjector.turnOnOff(device.id, device)"></ion-toggle> -->
    </ion-item>

  </ion-item-group>
  </ion-list>

  <ion-button (click)="deviceInjector.addDevice(deviceInjector.devices.length+1)" expand="block">Add sensor</ion-button>
  <ion-button (click)="deviceInjector.stressTest()" color="warning" expand="block">Survoltage</ion-button>

  <ion-list *ngFor="let thing of deviceInjector.sortedDevices$| async; let i = index">
    <ion-item-group>
   <ion-item>
     <ion-item-divider>
     <ion-label>ID: {{ thing.id }}</ion-label>
   </ion-item-divider>
   </ion-item>
   <ion-item>
     <ion-label>Value : {{ thing.information.value.value }}</ion-label>
   </ion-item>
    

 </ion-item-group>
 </ion-list>

</p>

